---
layout: default
---

<div class="home">

<!--team picture here -->
<img src=images/team2015.jpg alt="team photo 2015">

<!--google cal here-->

<iframe src="https://www.google.com/calendar/embed?src=drakemtb%40gmail.com&ctz=America/Los_Angeles" style="border: 0" width="100%" height="500px" frameborder="0" scrolling="no"></iframe>

<!--who we are -->
<h1>Welcome to the online home of the Drake Pirates MTB Team</h1>
	<h5>5X California State Champs, 2009 - 2012, 2015 and 9X <a href="http://www.norcalmtb.org"> NorCal High School Mountain Bike League</a> Champs (2004, 2006, 2009, 2010, 2011, 2012, 2013, 2014, & 2015)</h5>



	<div class="col seven">
		<h1>Our Story</h1>
		<p>It was a spring day in 2002, when a Drake High sophomore and Drake teacher found themselves competing against each other unexpectedly at a race infamously known as Billy Cross. It was a classic match-up of student versus master every bit as great as Vader vs. Kenobi. They fought, struggled, and even trash-talked to gain cycling supremacy at Drake High, the only high school in the country to produce not one but two national collegiate cycling champions. The stakes were high. What happened on that day is the stuff of legend. Some will say that the kid showed up the master by beating him to the line. Others deny, saying the kid only had to do two laps, and the old timer, three. Not a fair comparison.</p>
		<a href="{{ site.baseurl }}/aboutus/">		VIEW MORE...</p></a>
	</div>
			<div class="col four">
				<div class="posts">
				  {% for post in site.posts limit:2 %}
				    <article class="post">

				      <h2>{{ post.title }}</h2>

				      <div class="entry">
				        {{ post.content | strip_html | truncatewords:25}}
				      </div>

				      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
				    </article>
				  {% endfor %}
				</div>
			</div>

<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="//unslider.com/unslider.min.js"></script>
<!--<div class="posts">
  {% for post in site.posts limit:2 %}
    <article class="post">

      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>-->
